<div class="job-establishment vh-100 d-flex align-items-center justify-content-center">
  <div class="job-establishment-content d-flex w-100 h-100 justify-content-center align-items-center">
    <div class="container">
      <div class="carousel-caption">
        <h1 class="fs-4" id="job-establishment-header">Bienvenu dans la section métiers et établissements</h1>
        <p appTypewriter="Découvrez quel métier vous irais le mieux et les établissements offrant des formations pour cette profession."
            [speed]="50"></p>
        <p><button class="btn btn-lg btn-outline-light" data-bs-toggle="modal" data-bs-target="#notesModal">Accéder</button></p>
      </div>
    </div>
  </div>
</div>
<app-notesreport-form></app-notesreport-form>
