/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%
}

body {
    margin: 0;
}

.outline-label input {
    padding: .5rem .5rem;
    font-size: 1rem;
    outline: none;
    position: relative;
}

.outline-label label {
    top: 0.5rem;
    margin-left: 0.5rem;
    position: absolute;
    font-size: 1.25rem;
    line-height: 1.5rem;
    pointer-events: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
}

.outline-label input:focus~label,
.outline-label input:not(:placeholder-shown)~label {
    top: -0.875rem;
    font-size: 1rem;
    transition: 0.3s ease all;
    background-color: inherit;
}