/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


.outline-label input {
    width: 100%;
    padding: 0.5rem 0.5rem;
    font-size: 1rem;
    outline: none;
    /* position: relative; */
    background-color: transparent;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.outline-label label {
    top: 0.5rem;
    margin-left: 0.5rem;
    position: absolute;
    font-size: 1rem;
    color: #343a40;
    pointer-events: none;
    /* transition: 0.2s ease all; */
}

.outline-label input:focus~label,
.outline-label input:not(:placeholder-shown)~label {
    top: -0.75rem;
    font-size: 1rem;
    color: #007bff;
    transition: 0.2s ease all;
    height: fit-content;
    background: white;
}