<div class="register-body w-100 vh-100 d-flex flex-row justify-content-center align-items-center">
  <div class="register-container d-flex flex-column w-100 justify-content-center align-items-center">
    <div class="register-form-container d-flex flex-column">
      <form class="needs-validation" [formGroup]="registerForm" (ngSubmit)="onSubmit()" novalidate>
        <div [@slideAnimation]="currentStep"
          class="register-form-content d-flex flex-column justify-content-center align-items-center p-4">
          <div *ngIf="currentStep === 1" class="w-100">
            <div class="register-header d-flex justify-content-center align-items-center mt-1">
              <h3 class="fs-3">Étape 1 : Informations personnelles</h3>
            </div>
            <div class="step-fields-container justify-content-center align-content-center">
              <div class="row m-2 mt-5">
                <div class="col-md-12">
                  <div class="input-group has-validation">
                    <span class="input-group-text"><i class="bi bi-asterisk"></i></span>
                    <div class="outline-label flex-grow-1 input-text">
                      <input type="text" class="form-control" placeholder="" formControlName="firstName" [ngClass]="{
                        'is-invalid': (registerForm.get('firstName')?.touched ||
                        registerForm.get('firstName')?.dirty) &&
                        registerForm.get('firstName')?.invalid,
                        'is-valid': registerForm.get('firstName')?.valid
                      }">
                      <label for="nom" class="form-label">Nom</label>
                    </div>
                  </div>
                  <div style="color: red;"
                      class="text-center"
                    *ngIf="registerForm.get('firstName')?.errors?.['required'] && 
                          registerForm.get('firstName')?.touched">
                    Veuillez entrer votre nom.
                  </div>
                  <div style="color: red;"
                      class="text-center"
                    *ngIf="registerForm.get('firstName')?.errors?.['pattern'] && 
                          registerForm.get('firstName')?.touched">
                    Votre nom ne doit contenir que des caractère alphabétique.
                  </div>
                </div>
              </div>
              <div class="row m-2 mt-4">
                <div class="col-md-12">
                  <div class="input-group has-validation">
                    <span class="input-group-text"><i class="bi bi-asterisk"></i></span>
                    <div class="outline-label flex-grow-1 input-text">
                      <input type="text" class="form-control is-valid" placeholder="" formControlName="lastName"
                        [ngClass]="{
                    'is-invalid': (registerForm.get('lastName')?.touched ||
                                registerForm.get('lastName')?.dirty) &&
                                registerForm.get('lastName')?.invalid,
                                'is-valid': registerForm.get('lastName')?.valid
                              }">
                      <label for="prenom" class="form-label">Prenom</label>
                    </div>
                  </div>
                  <div style="color: red;"
                      class="text-center"
                    *ngIf="registerForm.get('lastName')?.errors?.['required'] && registerForm.get('lastName')?.touched">
                    Veuillez entrer votre prenom.
                  </div>
                  <div style="color: red;"
                      class="text-center"
                    *ngIf="registerForm.get('firstName')?.touched && 
                        registerForm.get('lastName')?.errors?.['pattern']">
                    Votre prenom ne doit contenir que des caractère alphabétique.
                  </div>
                </div>
              </div>
              <div class="mt-2 row m-2">
                <div class="form-group col-md-6 text-center fw-bolder mt-2">
                  <label for="dateDeNaissance" class="form-label">Date de naissance</label>
                  <div class="input-group has-validation">
                    <span class="input-group-text"><i class="bi bi-calendar-date-fill"></i></span>
                    <input type="date" class="form-control" formControlName="birthDate" min='1935-01-01'
                      max='2010-12-31' [ngClass]="{
                      'is-invalid': (registerForm.get('birthDate')?.touched ||
                                    registerForm.get('birthDate')?.dirty) &&
                                    registerForm.get('birthDate')?.invalid,
                      'is-valid': registerForm.get('birthDate')?.valid
                      }">
                    <div class="invalid-feedback">
                      <span style="color: red;" *ngIf="registerForm.get('birthDate')?.errors?.['required']">
                        Veuillez entrer votre date de naissance.
                      </span>
                      <span style="color: red;" *ngIf="registerForm.get('birthDate')?.errors?.['dateOutOfRange']">
                        Votre âge doit être compris entre 14 et 89 ans.
                      </span>
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-6 text-center fw-bolder mt-2">
                  <label for="sexe" class="form-label">Sexe</label>
                  <div class="input-group has-validation">
                    <span class="input-group-text"><i class="bi bi-gender-neuter"></i></span>
                    <select class="form-select is-invalid" formControlName="gender" [ngClass]="{
                      'is-invalid': (registerForm.get('gender')?.touched ||
                                    registerForm.get('gender')?.dirty) &&
                                    registerForm.get('gender')?.invalid
                    }">
                      <option value selected disabled hidden>Selectionnez votre sexe</option>
                      <option value="M">Masculin</option>
                      <option value="F">Feminin</option>
                    </select>
                    <div class="invalid-feedback">
                      <span style="color: red;" *ngIf="registerForm.get('gender')?.errors?.['required']">
                        Veuillez sélectionner votre sexe.
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="btn-step-container d-flex justify-content-center fixed-bottom">
              <button type="button" class="btn btn-step mb-4" (click)="nextStep()">Suivant</button>
            </div>
          </div>
          <div *ngIf="currentStep === 2" class="w-100 justify-content-center">
            <div class="register-header d-flex justify-content-center align-items-center mt-1">
              <h3 class="fs-3">Étape 2 : Informations de connexion</h3>
            </div>
            <div class="step-fields-container justify-content-center align-content-center">
              <div class="row m-2 mt-4">
                <div class="form-group col-md-12">
                  <div class="input-group has-validation">
                    <span class="input-group-text" style="color: #ff9100; background-color: #00005a;">&#64;</span>
                    <div class="outline-label flex-grow-1 input-text">
                      <input type="text" class="form-control" placeholder="" formControlName="username" [ngClass]="{
                    'is-invalid': (registerForm.get('username')?.touched ||
                                registerForm.get('username')?.dirty) &&
                                registerForm.get('username')?.invalid,
                    'is-valid': registerForm.get('username')?.valid
                  }" autocomplete="username">
                      <label for="pseudo" class="form-label">Pseudo</label>
                    </div>
                  </div>
                  <div style="color: red;"
                      class="text-center"
                    *ngIf="registerForm.get('username')?.errors?.['required'] &&
                          registerForm.get('username')?.touched">
                    Veuillez entrer votre pseudo.
                  </div>
                </div>
              </div>
              <div class="row m-2 mt-3">
                <div class="form-group col-md-12">
                  <div class="input-group has-validation">
                    <span class="input-group-text"><i class="bi bi-envelope-at-fill"></i></span>
                    <div class="outline-label flex-grow-1 input-text-email">
                      <input type="text" class="form-control" placeholder="" formControlName="email" [ngClass]="{
                    'is-invalid': (registerForm.get('email')?.touched ||
                                registerForm.get('email')?.dirty) &&
                                registerForm.get('email')?.invalid,
                    'is-valid': registerForm.get('email')?.valid
                  }" autocomplete="username">
                      <label for="email" class="form-label">Email</label>
                    </div>
                    <span id="email-end" class="input-group-email input-group-text">&#64;studor.com</span>
                  </div>
                  <div style="color: red;"
                      class="text-center"
                    *ngIf="registerForm.get('email')?.errors?.['required'] && 
                          registerForm.get('email')?.touched">
                    Veuillez entrer la base de votre email.
                  </div>
                  <div style="color: red;"
                      class="text-center"
                    *ngIf="registerForm.get('email')?.errors?.['pattern'] && 
                      registerForm.get('email')?.touched">
                    La base de l'email ne peut contenir d'expression regulière.
                  </div>
                </div>
              </div>
              <div formGroupName="passwordGroup">
                <div class="row m-2 mt-3">
                  <div class="form-group col-md-12 d-flex flex-column align-items-center">
                    <div class="input-group has-validation">
                      <span class="input-group-text"><i class="bi bi-lock-fill"></i></span>
                      <div class="outline-label flex-grow-1 input-password">
                        <input [type]="showPassword ? 'text' : 'password'" placeholder="" class="form-control"
                          formControlName="password" [ngClass]="{
                        'is-invalid': registerForm.get('passwordGroup')?.errors ||
                                ((registerForm.get('passwordGroup.password')?.touched ||
                                registerForm.get('passwordGroup.password')?.dirty) &&
                                registerForm.get('passwordGroup.password')?.invalid),
                        'is-valid': registerForm.get('passwordGroup.password')?.valid
                        }" (input)="onPasswordInput()" autocomplete="new-password">
                        <label for="motDePasse" class="form-label">Mot de passe</label>
                      </div>
                      <button class="btn hide-show-password-btn" type="button" (click)="togglePasswordVisibility()">
                        <i class="bi" [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
                      </button>
                    </div>
                    <div class="progress mt-3 mb-2" style="height: 5px; width: 90%;">
                      <div class="progress-bar {{passwordColor}}" role="progressbar"
                        [style]="'height: 5px; width: ' + passwordStrength + '%;'"
                        attr.aria-valuenow="{{passwordStrength}}" aria-valuemin="0" aria-valuemax="100">
                      </div>
                    </div>
                    <div style="color: red;" *ngIf="registerForm.get('passwordGroup.password')?.touched &&
                            registerForm.get('passwordGroup.password')?.invalid">
                      Le mot de passe doit contenir au moins 8 caractères.
                    </div>
                  </div>
                </div>
                <div class="row m-2 mt-3">
                  <div class="form-group col-md-12">
                    <div class="input-group has-validation">
                      <span class="input-group-text"><i class="bi bi-key-fill"></i></span>
                      <div class="outline-label flex-grow-1 input-password">
                        <input [type]="showPassword ? 'text' : 'password'" placeholder=""
                          class="form-control is-invalid" formControlName="confirmPassword" [ngClass]="{
                    'is-invalid': registerForm.get('passwordGroup')?.errors ||
                                ((registerForm.get('passwordGroup.confirmPassword')?.touched ||
                                registerForm.get('passwordGroup.confirmPassword')?.dirty) &&
                                registerForm.get('passwordGroup.confirmPassword')?.invalid),
                    'is-valid': registerForm.get('passwordGroup.confirmPassword')?.valid
                  }" autocomplete="new-password">
                        <label for="confirmerMotDePasse" class="form-label">Confirmer le mot de passe</label>
                      </div>
                      <button class="btn hide-show-password-btn" type="button" (click)="togglePasswordVisibility()">
                        <i class="bi" [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
                      </button>
                    </div>
                    <div style="color: red;"
                        class="text-center"
                      *ngIf="registerForm.get('passwordGroup.confirmPassword')?.touched &&
                          registerForm.get('passwordGroup.confirmPassword')?.errors?.['required']">
                      Veuillez confirmer de votre mot de passe.
                    </div>
                    <div style="color: red;"
                    class="text-center"
                  *ngIf="registerForm.get('passwordGroup.confirmPassword')?.touched && 
                        registerForm.get('passwordGroup')?.errors?.['passwordMismatch']">
                      Le mot de passe ne correspond pas.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="btn-step-container container d-flex justify-content-between fixed-bottom">
              <button type="button" class="btn btn-step mb-4" (click)="prevStep()">Précédent</button>
              <button type="submit" class="btn btn-submit mb-4">Valider</button>
            </div>
          </div>
          <!-- <div class="col-md-12 w-100 mt-4">
            <button class="btn btn-submit w-100" type="submit">Submit form</button>
          </div> -->
        </div>
      </form>
    </div>
  </div>
</div>