
.navbar{
  background-color: #00003a;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.navbar-brand .studor-logo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid;
  border-radius: 5px;
  height: 50px;
  width: 50px;
  border-color: aliceblue;
  text-shadow: 1.3px 1.3px 1.3px #ff9100;
  transform: rotate(45deg);
  margin-right: 10px;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url(/images/menu.png);
  background-size: 55px;
}

.nav-item .nav-link:hover{
  color: #ff9100 !important;
}

.logo-text{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-left: 10px;
  text-shadow: 1.3px 1.3px 1.3px white;
}

.navbar-brand .studor-logo .studor-text-logo{
  font-size: 1rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bolder;
  color: #ff9100;
  transform: rotate(-45deg);
}

.navbar-brand .studor-logo:hover{
  border-color: #ff9100;
}

.nav-item .active{
  color: #ff9100;
}
