
<!-- <app-navbar></app-navbar>
<app-job-establishment></app-job-establishment> -->
<!-- <app-register-form></app-register-form> -->
<!-- <div class="container">
  <div class="form-outline mt-4">
    <input type="search" id="search" class="form-control" placeholder=" " required />
    <label class="form-label" for="search">Search</label>
    <button class="btn btn-primary" type="submit">
      <i class="bi bi-search"></i>
    </button>
  </div>
</div> -->
<form class="container d-flex mt-4">
  <div class="input-group">
    <div class="outline-label">
      <input type="search" placeholder=""/>
      <label class="form-label" for="search">Search</label>
    </div>
    <button class="btn btn-primary" type="submit">
      <i class="bi bi-search"></i>
    </button>
  </div>
</form>
