
.outline-label input {
  padding: 0.5rem 0.5rem;
  font-size: 1rem;
  outline: none;
  position: relative;
  background-color: transparent;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.outline-label label {
  top: 0.5rem;
  left: 0.5rem;
  position: absolute;
  font-size: 1rem;
  color: #343a40;
  pointer-events: none;
  /* transition: 0.2s ease all; */
}

.outline-label input:focus ~ label,
.outline-label input:not(:placeholder-shown) ~ label  {
  top: -0.5rem;
  font-size: 1rem;
  color: #007bff;
  transition: 0.2s ease all;
}
