
<!-- <app-navbar></app-navbar>
<app-job-establishment></app-job-establishment> -->
<!-- <app-register-form></app-register-form> -->
<!-- <form class="container d-flex mt-4">
  <div class="input-group">
    <div class="outline-label">
      <input type="search"class="form-control" placeholder=""/>
      <label class="form-label" for="search">Search</label>
    </div>
    <button class="btn btn-primary" type="submit">
      <i class="bi bi-search"></i>
    </button>
  </div>
</form> -->
<!-- <div class="col-md-12 mt-5">
  <div class="input-group has-validation">
    <span class="input-group-text"><i class="bi bi-asterisk"></i></span>
    <div class="outline-label w-75">
      <input type="text" class="form-control" placeholder="" formControlName="firstName">
      <label for="nom" class="form-label">Nom</label>
    </div>
    <div class="invalid-feedback">
      <span>
        Votre nom ne doit contenir que des caractère alphabétique.
      </span>
    </div>
  </div>
</div> -->
<div class="p-6 max-w-sm mx-auto bg-white rounded-xl shadow-lg flex items-center space-x-4">
  <div class="shrink-0">
    <img class="size-12" src="/img/logo.svg" alt="ChitChat Logo">
  </div>
  <div>
    <div class="text-xl font-medium text-black">ChitChat</div>
    <p class="text-slate-500">You have a new message!</p>
  </div>
</div>